<h1 class='codelet-library-heading text-center mt-4 mb-3'>Welcome to the Library</h1>


<main class='container' role='main'>
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-8 text-center'>
            <%= page_entries_info @codelets, entry_name: 'Codelet' %>
        </div>
        <div class='col-2'></div>
    </div>
    <div class='row'>
        <div class='col-2'></div>
        <ul class='col-lg-8'>
            <%# TODO: Use more efficient iterator %>
            <% @codelets.each do |codelet| %>
                <%= link_to codelet_path(codelet) do %>
                    <li class='codelet-card card col-12 my-4 p-lg-4 p-2 p-md-3'>
                        <h5 class='card-title'><%= codelet.name %></h5>
                        <p class='card-text bg-light p-4'><%= codelet.description %></p>
                    </li>
                <% end %>
            <% end %>
        </ul>
        <div class='col-2'></div>
    </div>
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-8'>
            <%= paginate @codelets %>
        </div>
        <div class='col-2'></div>
    </div>
</main>
