<label for='examples_container'>Examples</label>
<div id='examples-container' class='form-row'>
    <div class='col'></div>
    <div class='form-group col-md-12 col-lg-6 col-sm-12'>
        <%= codelet_form.fields_for codelet_examples do |example_fields| %>
            <div class='form-group'>
                <%= example_fields.label :command, 'Command', class: 'form-codelet-label' %>
                <%= example_fields.text_field :command, class: 'form-control mb-md-5 mb-lg-4', required: true, maxlength: 500 %>
            </div>

            <div class='form-group'>
                <%= example_fields.label :output, 'Output', class: 'form-codelet-label' %>
                <%= example_fields.text_area :output, class: 'form-control mb-md-5 mb-lg-4' %>
            </div>

            <div class='form-group'>
                <%= example_fields.label :comment, 'Comments', class: 'form-codelet-label' %>
                <%= example_fields.text_area :comment, class: 'form-control mb-md-5 mb-lg-4' %>
            </div>
        <% end %>
    </div>
    <div class='col'></div>
</div>