<template id='examples_template'>
    <div id='examples_container' class='form-row'>
        <div class='form-group'>
            <%= codelet_form.fields_for codelet_examples do |example_fields| %>                        
                <div class='form-row justify-content-lg-center'>
                    <div class='form-group col-lg-3'>
                        <%= example_fields.label :command, 'Command', class: 'form-codelet-label font-italic' %>
                        <%= example_fields.text_field :command, class: 'form-control mb-md-5 mb-lg-4', required: true, maxlength: 500 %>
                    </div>
                    <div class='form-group col-lg-3'>
                        <%= example_fields.label :output, 'Output', class: 'form-codelet-label font-italic' %>
                        <%= example_fields.text_area :output, class: 'form-control mb-md-5 mb-lg-4' %>
                    </div>

                    <div class='form-group col-lg-3'>
                        <%= example_fields.label :comment, 'Comments', class: 'form-codelet-label font-italic' %>
                        <%= example_fields.text_area :comment, class: 'form-control mb-md-5 mb-lg-4' %>
                    </div>

                    <button type='button' id='remove_example_btn' class='btn btn-lg col-lg-2 m-auto btn-danger '>Remove Example</button>

                </div>
            <% end %>
        </div>
    </div>
</template>