<%= form_for codelet, html: {class: 'codelet-form needs-validation', novalidate: true} do |codelet_form| %>
    <div class='form-row'>
        <div class='col'></div>
        <div class='col-md-12 col-lg-6 col-sm-12'>
            <div class='form-group'>
                <%= codelet_form.label :name, class: 'form-codelet-label font-weight-bold' %>
                <%= codelet_form.text_field :name, class: 'form-control mb-md-5 mb-lg-4', required: true, maxlength: 500 %>
                <div class='invalid-feedback'>
                    Please provide a name for the code
                </div>
            </div>
        </div>
        <div class='col'></div>
    </div>
    
    <div class='form-row'>
        <div class='col'></div>
        <div class='col-md-12 col-lg-6 col-sm-12'>
            <div class='form-group'>
                <%= codelet_form.label :description, 'Describe the Code', class: 'form-codelet-label font-weight-bold' %>
                <%= codelet_form.text_area :description, class: 'form-codelet-text form-control mb-md-5 mb-lg-4', required: true, maxlength: 750 %>
                <div class='invalid-feedback'>
                    Please describe the code
                </div>
            </div>
        </div>
        <div class='col'></div>
    </div>

    <div class='row d-flex'>
        <div class='col-lg-3'></div>
        <label for='examples_list' class='col-3 form-codelet-label font-weight-bold'>Examples</label>
        <button type='button' id='add_example_btn' class='btn btn-secondary btn-sm mx-auto p-lg-3'>Add Another Example</button>
        <div class='col-lg-3'></div>
    </div>
    <ul id='examples_list' class='list-group-flush'>
        <%= render partial: 'codelets/shared/example', locals: { codelet_form: codelet_form, codelet_examples: codelet_examples } %>
    </ul>

    <div class='form-row'>
        <div class='col'></div>
        <div class='col-md-12 col-lg-6 col-sm-12 mb-md-0 mb-4 mb-lg-2'>
            <div class='form-group'>
                <%= codelet_form.label :publicly_accessible, 'Allow anyone to see this Code?', class: 'form-codelet-label font-weight-bold' %>
                <%= codelet_form.check_box :publicly_accessible, checked: @codelet.publicly_accessible, class: 'form-check mb-md-5 mb-lg-2' %>
            </div>
        </div>
        <div class='col'></div>
    </div>

    <div id='codelet_submit' class='form-row justify-content-center'>
        <%= codelet_form.submit class: 'btn btn-primary btn-lg mx-4'%>
        <% if edit_form %>
            <%= link_to 'Back', codelet_path(@codelet), class: 'btn btn-secondary btn-lg mx-4' %>
        <% end %>
    </div>
<% end %>