<nav class='navbar navbar-expand bg-light'>
    <%= link_to 'The Library', root_path, class: 'navbar-brand home-link px-3' %>
    <ul class='navbar-nav'>
        <% if logged_in? %>
            <% if current_page?(root_path) || current_page?(codelets_path) %>
                    <li class='navbar-item'><%= link_to 'New Codelet', new_codelet_path, class: 'nav-link' %></li>
            <% end %>
            <% if @codelet&.slug && current_page?(codelet_path(@codelet)) %>
                <li class='navbar-item'><%= link_to 'Edit Codelet', edit_codelet_path(@codelet), class: 'nav-link' %></li>
                <li class='navbar-item'><%= button_to 'Delete Codelet', codelet_path(@codelet), method: :delete, class: 'nav-link btn btn-link', id: 'delete_codelet_btn' %></li>
            <% end %>
        <% end %>
        <% unless logged_in? %>
            <li class='navbar-item'>
                <button type='button' class='nav-link btn btn-link' data-toggle='modal' data-target='#login_modal'>
                    Login
                </button>
            </li>
        <% end %>
    </ul>
</nav>

<%= render partial: 'basic_sessions/login_modal' %>