<!DOCTYPE html>
<html>
  <head>
    <title>Codelets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= yield :main_head_assets %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <%= render partial: 'flash' %>
    
    <%= yield %>
  </body>
</html>
